h1 {
    font-size: 1.4em;
    color: white;
    background-color: darkred;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
}
legend {
    font-size: 1.25em;
    margin-left: 8px;
}

.submit {
    margin-left: 75px;
}